.mar_man
		{
			/*margin-top: 2%;
			margin-bottom: 2%;
			margin-left: 10%;
			margin-right: 10%;*/
/*			margin:top right bottom left; // Clock wise*/
			margin:2% 10% 2% 10%;
		}
		.text_man
		{
			width: 92%;
			height: 35px;
			background-image: url("../assets/gallery/icon.png");
			background-repeat: no-repeat;
			padding-left: 44px;
			border-width: 0px;
			outline: none;
		}
		.text_aera
		{
			width: 92%;
			height: 75px;
			background-image: url("../assets/gallery/icon.png");
			background-repeat: no-repeat;
			padding-left: 44px;
		}